<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Home</title>


    <!-- Custom styles for this template -->
    <link href="/css/navbar-top-fixed.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <a class="navbar-brand" href="/dashboard">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link disabled" href="/lassek">e-lasseq</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/courses">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myquetions">My Questions</a>
            </li>
            <li style="padding-left: 200px">
                <form th:action="@{/search}" method="post" class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" th:name="key" type="text" placeholder="Search" aria-label="Search" required>
                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
        </ul>
    </div>
    <a class="py-2 d-none d-md-inline-block" href="/dashboard" method="get">
        <img src="https://image.flaticon.com/icons/png/512/88/88591.png" width="42" height="42" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mx-auto"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
    </a> &nbsp;&nbsp;&nbsp;
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${user.name}">

        </button>
        <div class="dropdown-menu" style="padding-right: 30px">
            <a class="dropdown-item" href="/prof">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log Out</a>
        </div>
    </div>
</nav>

<main role="main" class="container">
    <br>
    <div>
        <h1 style="float: left">Top Questions</h1>
        <div style="float: right">
            <form th:action="@{/ask}" method="get">
                <button type="submit" class="btn btn-outline-primary">Ask Question</button>
            </form>
        </div>
    </div>

    <br><br><br>
    <div>
        <p style="font-size: 20; color: #FF1C19;" th:text="${message}"></p>
    </div>
    <div class="jumbotron" th:each="question : ${topQuestions}">
        <h2 style="color: rgb(0, 124, 255)">
            <a th:href="${'/viewquestion/'+question.id}" th:text="${question.title}">
            </a>
        </h2>
        <br>
        <div >
            <button type="button" class="btn btn-square btn-success" th:text="${question.key1}"></button>
            <button type="button" class="btn btn-square btn-success"  th:text="${question.key2}"></button>
            <button type="button" class="btn btn-square btn-success"  th:text="${question.key3}"></button>

            <br>
            <h6 style="float: right" th:text="${question.account.name}"></h6>
        </div>
    </div>
</main>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
